In [1]:
import pandas as pd
import numpy as np

In [2]:
runs = ['./run1.txt',
'./run2.txt',
'./run3.txt',
'./run4.txt',
'./run5.txt']

In [3]:
def parse(file):
    df = pd.read_csv(file,delimiter=',',header=None)
    df.columns = ['kernel','C','Gamma','train_acc','test_acc']
    df['kernel'] = 'rbf'
    c = df['C'].str.split(" ",expand=True)
    gamma = df['Gamma'].str.split(" ",expand=True)
    train = df['train_acc'].str.split(" ",expand=True)
    test = df['test_acc'].str.split(" ",expand=True)
    df['C'] = c[2]
    df['Gamma'] = gamma[2]
    df['train_acc'] = train[2]
    df['test_acc'] = test[2]
    df['C'] = df['C'].astype(float)
    df['Gamma'] = df['Gamma'].astype(float)
    df['train_acc'] = df['train_acc'].astype(float)
    df['test_acc'] = df['test_acc'].astype(float)
    return df

In [4]:
dfs = []
for run in runs:
    dfs.append(parse(run))
df = pd.concat(dfs)
df = df.reset_index(drop=True)

In [5]:
df

      kernel         C     Gamma  train_acc   test_acc
0        rbf  4.684626  0.057189  98.518519  90.814815
1        rbf  4.977797  0.022372  93.185185  89.629630
2        rbf  3.890768  0.054599  97.851852  90.666667
3        rbf  3.362231  0.064258  98.148148  91.111111
4        rbf  3.901494  0.017647  90.777778  87.851852
...      ...       ...       ...        ...        ...
49995    rbf  3.431751  0.053458  97.444444  90.666667
49996    rbf  3.850510  0.026309  93.444444  89.629630
49997    rbf  2.507295  0.026034  91.814815  88.592593
49998    rbf  4.758647  0.076244  99.629630  89.777778
49999    rbf  2.621304  0.021955  90.851852  88.148148

[50000 rows x 5 columns]

In [6]:
df_90 = df[df['test_acc']>=90.00]
df_91 = df[df['test_acc']>=91.00]

In [7]:
df_90

      kernel         C     Gamma  train_acc   test_acc
0        rbf  4.684626  0.057189  98.518519  90.814815
2        rbf  3.890768  0.054599  97.851852  90.666667
3        rbf  3.362231  0.064258  98.148148  91.111111
7        rbf  3.921250  0.056055  97.962963  90.666667
9        rbf  2.398070  0.051800  96.000000  90.666667
...      ...       ...       ...        ...        ...
49973    rbf  2.713223  0.046764  95.814815  90.666667
49976    rbf  2.685230  0.089766  99.333333  90.814815
49984    rbf  3.557271  0.083425  99.481481  90.074074
49985    rbf  4.061224  0.079708  99.518519  90.074074
49995    rbf  3.431751  0.053458  97.444444  90.666667

[20946 rows x 5 columns]

In [8]:
df_90['abs_diff'] = abs(df_90['train_acc']-df_90['test_acc'])
df_90 = df_90.sort_values(by='abs_diff')
df_90

<ipython-input-8-d8d2b10a889e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_90['abs_diff'] = abs(df_90['train_acc']-df_90['test_acc'])

      kernel         C     Gamma  train_acc   test_acc  abs_diff
35606    rbf  2.050571  0.039469  93.925926  90.074074  3.851852
16289    rbf  2.097256  0.039274  93.962963  90.074074  3.888889
11516    rbf  2.055927  0.039782  93.962963  90.074074  3.888889
39736    rbf  2.045571  0.039619  93.962963  90.074074  3.888889
4155     rbf  2.053692  0.039987  94.000000  90.074074  3.925926
...      ...       ...       ...        ...        ...       ...
39860    rbf  2.819835  0.097281  99.555556  90.074074  9.481481
46279    rbf  4.295035  0.078125  99.555556  90.074074  9.481481
32280    rbf  4.326467  0.077545  99.555556  90.074074  9.481481
6224     rbf  3.969621  0.081649  99.555556  90.074074  9.481481
37392    rbf  3.997331  0.081560  99.555556  90.074074  9.481481

[20946 rows x 6 columns]

In [9]:
df_91

      kernel         C     Gamma  train_acc   test_acc
3        rbf  3.362231  0.064258  98.148148  91.111111
30       rbf  3.306277  0.076070  98.888889  91.111111
42       rbf  3.157752  0.069460  98.259259  91.259259
104      rbf  2.769058  0.049838  96.296296  91.111111
105      rbf  2.709662  0.073432  98.259259  91.407407
...      ...       ...       ...        ...        ...
49833    rbf  2.951320  0.075336  98.629630  91.259259
49868    rbf  3.369340  0.074766  98.888889  91.259259
49873    rbf  2.853795  0.068995  98.111111  91.259259
49952    rbf  3.068703  0.063108  97.962963  91.111111
49967    rbf  4.428105  0.062780  98.925926  91.111111

[1905 rows x 5 columns]

In [10]:
print(df[df['test_acc'] == max(df['test_acc'])])

     kernel         C    Gamma  train_acc   test_acc
5296    rbf  2.805525  0.06989  98.111111  91.555556

In [11]:
df_91 = df_91.drop(df_91[df_91['train_acc']>=98.12].index).reset_index(drop=True)

In [12]:
df_91

    kernel         C     Gamma  train_acc   test_acc
0      rbf  2.769058  0.049838  96.296296  91.111111
1      rbf  2.267000  0.071250  97.740741  91.111111
2      rbf  2.785163  0.049313  96.185185  91.111111
3      rbf  3.075954  0.063419  97.962963  91.111111
4      rbf  3.324931  0.060374  98.000000  91.111111
..     ...       ...       ...        ...        ...
637    rbf  2.921652  0.066484  98.037037  91.111111
638    rbf  2.881416  0.050040  96.518519  91.111111
639    rbf  2.940678  0.048977  96.444444  91.111111
640    rbf  2.853795  0.068995  98.111111  91.259259
641    rbf  3.068703  0.063108  97.962963  91.111111

[642 rows x 5 columns]

In [13]:
df_91['abs_diff'] = abs(df_91['train_acc']-df_91['test_acc'])
df_91

    kernel         C     Gamma  train_acc   test_acc  abs_diff
0      rbf  2.769058  0.049838  96.296296  91.111111  5.185185
1      rbf  2.267000  0.071250  97.740741  91.111111  6.629630
2      rbf  2.785163  0.049313  96.185185  91.111111  5.074074
3      rbf  3.075954  0.063419  97.962963  91.111111  6.851852
4      rbf  3.324931  0.060374  98.000000  91.111111  6.888889
..     ...       ...       ...        ...        ...       ...
637    rbf  2.921652  0.066484  98.037037  91.111111  6.925926
638    rbf  2.881416  0.050040  96.518519  91.111111  5.407407
639    rbf  2.940678  0.048977  96.444444  91.111111  5.333333
640    rbf  2.853795  0.068995  98.111111  91.259259  6.851852
641    rbf  3.068703  0.063108  97.962963  91.111111  6.851852

[642 rows x 6 columns]

In [14]:
df_91 = df_91.sort_values(by='abs_diff')
df_91

    kernel         C     Gamma  train_acc   test_acc  abs_diff
333    rbf  2.878582  0.048311  96.185185  91.407407  4.777778
91     rbf  2.853810  0.048599  96.185185  91.407407  4.777778
338    rbf  2.975808  0.046597  96.111111  91.259259  4.851852
341    rbf  3.524542  0.040768  95.962963  91.111111  4.851852
328    rbf  2.984921  0.046730  96.111111  91.259259  4.851852
..     ...       ...       ...        ...        ...       ...
151    rbf  3.404819  0.063422  98.111111  91.111111  7.000000
371    rbf  3.398534  0.062720  98.111111  91.111111  7.000000
532    rbf  3.542923  0.061654  98.111111  91.111111  7.000000
456    rbf  2.946516  0.067525  98.111111  91.111111  7.000000
320    rbf  3.575433  0.061859  98.111111  91.111111  7.000000

[642 rows x 6 columns]